<h1>I Scream! You Scream! We All Scream for Ice Cream!</h1>

<h2>Available Ice Cream</h2>

<ul>
  {{#each icecream}}
    {{#unless this.devour}}
      <li>
        {{this.iceCream_name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button type="submit">Yum Yum!</button>
        </form>
      </li>
    {{/unless}}
  {{/each}}  
</ul>

<h2>Ice Cream that is Not Available</h2>
<ul>
  {{#each icecream}}
    {{#if this.devour}}
      <li>
        {{this.iceCream_name}}
      </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Make an Ice Cream Delivery!</h2>
<form class="create-form" action="/" method="POST">

  <div class="form-group">
    <label for="ca">Ice Cream Name:</label>
    <input type="text" id="ca" name="iceCream_name">
  </div>

  <div class="form-group">
    <label for="slee">Available?</label>
    <br>
    <input type="radio" name="devoured" value="1" checked> Available!
    <br>
    <input type="radio" name="devoured" value="0"> Unavailable
  </div>

  <button type="submit">Add Ice Cream</button>
</form>